body {
    background-color RED
    
    
    text-rendering: ;
    color:red;
    /* width:600px;
    margin:20px auto; */
}

body > div {
    background-color:black;
    padding:10px;
    margin:10px;
    /* width:200px */
}

img {
    height:100px;
}

a {
    color:white;
}