body {
    background-color: RED;
    
    color:white;
    /* width:600px;
    margin:20px auto; */
}

body > div {
    background-color:rgb(107, 141, 235);
    padding:10px;
    margin:10px;
    /* width:200px */
}

img {
    height:100px;
}

a {
    color:white;
}